/* ---------------------------- Coupon ------------------------------------- */

.woocommerce-form-coupon-toggle .click-here-message {
    color: #d71232;
    font-weight: 700;
}

.checkout_coupon {
    border: 1px solid #039999;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 10px 0;
}

.apply-coupon-message {
    color: #039999;
}

.apply-coupon-wrapper {
    display: flex;
    flex-direction: column;
}

.apply-coupon-wrapper input {
    padding-top: 26px;
    border-bottom: 1px solid #e1e3e5;
}

.coupon-button {
    background: #039999;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .3em;
    line-height: 1.42;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    min-width: 150px;
    width: 100%;
    height: 50px;
}

.apply-coupon-wrapper span {
    color: #d71232;
}

/* ----------------------------- Checkout form ------------------------------------------ */

.checkout {
    display: flex;
    flex-direction: column;
}

.woocommerce-billing-fields__field-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    width: 100%;
}

.checkout p {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.checkout input,
.woocommerce-input-wrapper textarea {
    border: 1px solid #aaa;
    border-radius: 3px;
    height: 40px;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.woocommerce-input-wrapper textarea {
    height: 60px;
}

.select2-container--default .select2-selection--single {
    border-radius: 3px;
    height: 40px;
    margin-bottom: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 37px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 37px;
}

.checkout__customer-details {
    margin: 32px 0;
}

.woocommerce-billing-fields h3,
.order-review__wrapper h3 {
    font-size: 24px;
    font-weight: 700;
    color: #039999;
    margin-bottom: 20px;
}

abbr[title] {
    text-decoration: none;
}

.woocommerce-additional-fields h3 {
    display: none;
}

/* ---------------------------------------- Order review ---------------------------------------- */

.woocommerce-checkout-review-order-table tr {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.woocommerce-checkout-review-order-table .product-name {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

/*-------------------------------------------- Payment ------------------------------------------*/

.woocommerce-checkout-payment {
    margin-top: 32px;
}

.wc_payment_methods {
    margin-bottom: 20px;
}

/* ----------------------------------------- Privacy policy -------------------------------------- */

.woocommerce-form__label-for-checkbox {
    font-size: 14px;
}

.woocommerce-form__label-for-checkbox input {
    height: 15px;
    width: 15px;
    margin-bottom: 0;
}

.woocommerce-terms-and-conditions-link {
    text-decoration: underline;
    transition: color 0.3s ease;
}

.woocommerce-terms-and-conditions-link:hover {
    color: #039999;
}

/*------------------------------------------- Order button -------------------------------------- */

.order-button {
    background: #d71232;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .3em;
    line-height: 1.42;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    min-width: 150px;
    width: 100%;
    height: 50px;
}

/* --------------------------------------- Tablet and Desktop ------------------------------------ */

@media screen and (min-width: 768px) {
    .apply-coupon-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }

    .checkout {
        flex-direction: row;
        gap: 32px;
    }


    .checkout p.form-row-first,
    .checkout p.form-row-last {
        width: 49%;
    }

    .order-review__wrapper {
        margin: 32px 0;
    }
}

@media screen and (min-width: 1440px) {
   
}