*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 1. Correct the line height in all browsers. */
    -webkit-text-size-adjust: 100%;
    /* 2. Prevent adjustments of font size after orientation changes in iOS. */
    -moz-tab-size: 4;
    /* 3. Use a more readable tab size (opinionated). */
    tab-size: 4;
    /* 3 */
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
    scroll-padding-top: 70px;
}

body {
    margin: 0;
    /* background-color: #f2f2f2; */
    background-color: #fff;
    /* color: #353535; */
    color: #000;
}

hr {
    height: 0;
    /* 1 */
    color: inherit;
    /* 2 */
}

abbr[title] {
    text-decoration: underline dotted;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

table {
    text-indent: 0;
    /* 1 */
    border-color: inherit;
    /* 2 */
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

:-moz-focusring {
    outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
    box-shadow: none;
}

legend {
    padding: 0;
}

progress {
    vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

summary {
    display: list-item;
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

body,
button,
input,
select,
optgroup,
textarea {
    font-family: 'helvetica-light', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    color: #353535;
}

img {
    display: block;
    height: auto;
    width: 100%;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1;
    /* 1 */
    margin: 0;
    /* 2 */
}

a {
    text-decoration: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font: inherit;
}

ul,
ol {
    list-style: none;
}

button,
textarea,
select {
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
}

input{
    color: inherit;
    font: inherit;
    outline: none;
    border: none;
    background: transparent;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.section {
    padding: 32px 0;
}
@media screen and (min-width: 768px) {
    .section {
        padding: 56px 0;
    }
}
@media screen and (min-width: 1440px) {
    .section {
        padding: 80px 0;
    }
}

.first-section {
    padding: 100px 0 16px;
}

@media screen and (min-width: 768px) {
    .first-section  {
        padding: 100px 0 32px;
    }
}

@media screen and (min-width: 992px) {
    .first-section {
        padding: 120px 0 32px;
    }
}

@media screen and (min-width: 1440px) {
    .first-section {
        padding: 120px 0 56px;
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 32px;
    }  
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1420px;
        padding: 0;
    } 
}

/* Helvetica */
@font-face {
    font-family: 'Helvetica';
    src: url('/wp-content/themes/roxydev/assets/fonts/Helvetica.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* helvetica-light */
@font-face {
    font-family: 'helvetica-light';
    src: url('/wp-content/themes/roxydev/assets/fonts/helvetica-light-587ebe5a59211.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap; 
}

/* GeorgiaPro-CondRegular */
@font-face {
    font-family: 'GeorgiaPro-CondRegular';
    src: url('/wp-content/themes/roxydev/assets/fonts/GeorgiaPro-CondRegular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.page-title {
    font-size: 24px;
    font-weight: 700;
    color: #039999;
}

@media screen and (min-width: 1024px) {
    .page-title {
        font-size: 36px;
    }  
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
}

input[type="number"]::-moz-inner-spin-button,
input[type="number"]::-moz-outer-spin-button {
    opacity: 1;
}
