@import "./general.css";
@import "./header.css";
@import "./footer.css";
@import "./front-page.css";
@import "./mini-cart.css";
@import "./shop.css";
@import "./product.css";
@import "./cart.css";
@import "./checkout.css";
@import "./myaccount.css";

/* Star rating and comments */
.roxydev-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding-bottom: 8px;
}

@font-face{
    font-family:star;
    src:url(../fonts/WooCommerce.woff2) format("woff2"),url(../fonts/WooCommerce.woff) format("woff"),url(../fonts/WooCommerce.ttf) format("truetype");
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:WooCommerce;
    src:url(../fonts/WooCommerce.woff2) format("woff2"),url(../fonts/WooCommerce.woff) format("woff"),url(../fonts/WooCommerce.ttf) format("truetype");
    font-weight:400;
    font-style:normal
}

 .woocommerce #reviews #comments ol.commentlist #respond {
    border: 1px solid #e1dde7;
    border-radius:4px;
    padding:1em 1em 0;
    margin:20px 0 0 50px
}
.woocommerce #reviews #comments .commentlist>li::before{
    content:""
} 
.woocommerce .star-rating{
    float:right;
    overflow:hidden;
    position:relative;
    height:1em;
    line-height:1;
    font-size:1em;
    width: 6em;
    font-family:WooCommerce
}
.woocommerce .star-rating::before{
    content:"sssss";
    color:#cfc8d8;
    float:left;
    top:0;left:0;
    position:absolute
}
.woocommerce .star-rating span{
    overflow:hidden;
    float:left;
    top:0;
    left:0;
    position:absolute;
    padding-top:1.5em
}
.woocommerce .star-rating span::before{
    content:"SSSSS";
    top:0;
    position:absolute;
    left:0;
    color: #FFD333;
}
.woocommerce .woocommerce-product-rating{
    line-height:2;
    display:block;
}
.woocommerce .woocommerce-product-rating::after,.woocommerce .woocommerce-product-rating::before{
    content:" ";
    display:table;
}
.woocommerce .woocommerce-product-rating::after{
    clear:both;
}
.woocommerce .woocommerce-product-rating .star-rating{
    margin:.5em 4px 0 0;
    float:left;
}
.woocommerce .products .star-rating{
    display:block;
    margin:0 0 .5em;
    float:none;
}
.woocommerce .hreview-aggregate .star-rating{
    margin:10px 0 0;
}
.woocommerce #review_form #respond{
    position:static;
    margin:0;
    width:auto;
    padding:0;
    background:transparent none;
    border:0;
}
.woocommerce #review_form #respond::after,.woocommerce #review_form #respond::before{
    content:" ";
    display:table;
}
.woocommerce #review_form #respond::after{
    clear:both;
}
.woocommerce #review_form #respond p{
    margin:0 0 10px;
}
.woocommerce #review_form #respond .form-submit input{
    left:auto;
}
.woocommerce #review_form #respond textarea{
    box-sizing:border-box;
    width:100%;
}
.woocommerce p.stars a{
    position:relative;
    height:1em;
    width:1em;
    text-indent:-999em;
    display:inline-block;
    text-decoration:none;
}
.woocommerce p.stars a::before{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:1em;
    height:1em;
    line-height:1;
    font-family:WooCommerce;
    content:"\e021";
    text-indent:0;
}
.woocommerce p.stars a:hover~a::before{
    content:"\e021";
}
.woocommerce p.stars:hover a::before{
    content:"\e020";
    color: #FFD333;
}
.woocommerce p.stars.selected a.active::before{
    content:"\e020";
    color: #FFD333;
}
.woocommerce p.stars.selected a.active~a::before{
    content:"\e021";
}
.woocommerce p.stars.selected a:not(.active)::before{
    content:"\e020";
    color: #FFD333;
} 

.submit-review__button {
    color: #fff;
    background-color: #039999;
    padding: 10px 16px;
    border-radius: 3px;
}
/* End of star rating and comments*/