/* --------------------- Form Login (unlogged user) ---------------------------- */

.form-login__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.form-login__title {
    color: #039999;
    font-weight: 700;
    margin-bottom: 10px;
}

.form-login__wrapper input {
    border: 1px solid #aaa;
    border-radius: 3px;
    height: 40px;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.form-login__wrapper .woocommerce-form__input-checkbox {
    height: 15px;
    width: 15px;
    margin-bottom: 0;
}

.form-login__button {
    background: #039999;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .3em;
    line-height: 1.42;
    margin: 15px auto;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    min-width: 150px;
    width: 100%;
    height: 45px;
}

.woocommerce-LostPassword {
    text-decoration: underline;
}

.woocommerce-password-strength.short,
.woocommerce-password-strength.bad {
    color: #d71232;
    font-weight: 700;
}

.woocommerce-password-strength.good,
.woocommerce-password-strength.strong {
    color: #039999;
    font-weight: 700;
}


.woocommerce-password-hint {
    display: block;
    border: 1px solid #039999;
    padding: 5px 10px;
    margin: 5px 0;
}

.woocommerce-privacy-policy-link {
    text-decoration: underline;
}

/* lost password form */

.lost_reset_password {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.lost_reset_password > p {
    padding-bottom: 20px;
}

.lost_reset_password p {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.lost_reset_password input {
    border: 1px solid #aaa;
    border-radius: 3px;
    height: 40px;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.lost-password-form__wrapper {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.lost-password-form__wrapper button {
    background: #039999;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .3em;
    line-height: 1.42;
    margin: 15px auto;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    min-width: 150px;
    width: 100%;
    height: 45px;
}

/* --------------------- My account (logged user) ---------------------------- */

.my-account__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    /* padding: 50px 32px 180px; */
}

.woocommerce-MyAccount-navigation {
    text-align: center;
}

.woocommerce-MyAccount-navigation li {
    font-size: 24px;
    color: #039999;
    margin-bottom: 10px;
}

.woocommerce-MyAccount-navigation li:last-child {
    margin-bottom: 0;
}

.my-account__hello-text {
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
}

.my-account__hello-text a {
    color: #039999;
}

/* Orders Table */
.woocommerce-MyAccount-content,
.woocommerce-MyAccount-content table {
    width: 100%;
}

.woocommerce-MyAccount-content thead {
    display: none;
}

.woocommerce-MyAccount-orders th {
    padding-right: 10px;
}

.woocommerce-MyAccount-content td {
    display: block;
    text-align: right;
}

.woocommerce-MyAccount-content td::before {
    content: attr(data-title);
    float: left;
    font-weight: 700;
}

.woocommerce-MyAccount-orders tr, th,
.woocommerce-MyAccount-orders tr, td  {
    border-bottom: 1px solid #039999;
    padding: 5px 0;
    text-align: left;
}

/* Order details */
.woocommerce-MyAccount-content p,
.woocommerce-order-details {
    margin-bottom: 30px;
}

/* Address */
.my-account-address__title {
    color: #039999;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: left;
}

.woocommerce-Address-title a {
    color: #039999;
}

.woocommerce-Address header {
    margin-bottom: 10px;
}

.woocommerce-Address-title a:hover {
text-decoration: underline;
}

/* Change address */
.my-account-edit-address__title {
    color: #039999;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.woocommerce-address-fields__field-wrapper p {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.woocommerce-address-fields__field-wrapper input {
    border: 1px solid #aaa;
    border-radius: 3px;
    height: 40px;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.woocommerce-MyAccount-content form {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.woocommerce-address-fields button {
    background: #039999;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .3em;
    line-height: 1.42;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    min-width: 150px;
    width: 100%;
    height: 50px;
}

@media screen and (min-width: 768px) {
    .my-account__container {
        gap: 56px;
        /* padding: 50px 56px 180px; */
    }

    .woocommerce-MyAccount-navigation {
        text-align: left;
    }
    
    .woocommerce-MyAccount-navigation li {
        font-size: 16px;
    }

    /* Orders Table */
    .woocommerce-MyAccount-content thead {
        display: table-header-group;
    }

    .woocommerce-MyAccount-orders th {
        padding-right: 10px;
    }

    .woocommerce-MyAccount-content td {
        display: table-cell;
        text-align: left;
        padding-right: 10px;
    }

    .woocommerce-MyAccount-content td::before {
        display: none;
    }

}

@media screen and (min-width: 1440px) {
    .my-account__container {
        flex-direction: row;
        gap: 80px;
        /* padding: 50px 80px 200px; */
    }
}
