/* Size of main image */
.woocommerce-product-gallery {
    width: 100%;
    position: relative;
}

.woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
}

/* Size of gallery */
.woocommerce-product-gallery .flex-control-nav {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    /* max-width: 400px; */
}

/* Size of thumbnails */
.woocommerce-product-gallery .flex-control-nav li {
    width: 100px;
    
}

/* Product info */
.roxydev-product-title {
    font-size: 24px;
}

.single-product__wrapper {
    display: flex;
    flex-direction: column;
}

.product__add2cart {
    display: flex;
    gap: 10px;
}

.product__add2cart .input-group,
.woocommerce-grouped-product-list .input-group {
    max-width: 150px;
    border: 1px solid black;
    display: flex;
}

.single-product__add2cart-btn {
    /* margin-left: 10px; */
    border: 1px solid black;
}

/* .woocommerce-grouped-product-list .single-product__add2cart-btn {
    margin-left: 0;
} */

/* Remove default input arrows */

/* Chrome, Safari, Edge, Opera */
.product__add2cart input.qty::-webkit-outer-spin-button,
.product__add2cart input.qty::-webkit-inner-spin-button,
.woocommerce-grouped-product-list input.qty::-webkit-outer-spin-button,
.woocommerce-grouped-product-list input.qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    text-align: center;
}

/* Firefox */
.product__add2cart input.qty[type=number],
.woocommerce-grouped-product-list input.qty[type=number] {
    -moz-appearance: textfield;
    text-align: center;
    width: 100px;
}

/* Additional info about the product */
.wc-tabs {
    display: flex;
    gap: 10px;
}

@media screen and (min-width: 768px) {

    /* Size of thumbnails */
    .woocommerce-product-gallery {
        width: 400px;
    }

    /* Product info */
    .single-product__wrapper {
        flex-direction: row;
    }
}