/* Size of main image */
.woocommerce-product-gallery {
    width: 100%;
    position: relative;
}

.woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
}

/* Size of gallery */
.woocommerce-product-gallery .flex-control-nav {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    /* max-width: 400px; */
}

/* Size of thumbnails */
.woocommerce-product-gallery .flex-control-nav li {
    width: 100px;
    
}

/* Product info */
.roxydev-product-title {
    font-size: 24px;
}

.single-product__wrapper {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {

    /* Size of thumbnails */
    .woocommerce-product-gallery {
        width: 400px;
    }

    /* Product info */
    .single-product__wrapper {
        flex-direction: row;
    }
}