/* Breadcrumbs */
.breadcrumbs ul {
    display: flex;
    gap: 10px;
    font-size: 14px;
}

.breadcrumbs ul li {
    color: #353535;
    transition: color 0.3s ease;
}

.breadcrumbs ul li:hover {
    color: #039999;
}

.breadcrumbs ul li:last-child {
    color: #757575;
}

/* Shop */
.shop__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.shop__sidebar {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .shop__wrapper {
        flex-direction: row;
    }

    .shop__sidebar {
        width: 25%;
    }
}

/* Count of cards in a row */
.product-card__shop {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;  
}
   
@media screen and (min-width: 768px) {
    .product-card__shop {
        max-width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1024px) {
    .product-card__shop {
        max-width: calc((100% - 24px * 2) / 3);
    }
}

/* before-shop-container */
.before-shop-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    color: #757575;
    margin: 15px 0;
}

.before-shop-container form select {
    font-size: 14px;
    letter-spacing: 0;
    width: 100%;
    max-width: 300px;
    border: 1px solid #757575;
    padding: 5px;
}

.before-shop-container form select:focus {
    box-shadow: 2px 2px 4px rgba(3, 153, 153, 0.2);
    border-color: rgb(3, 153, 153);
}



