/* Breadcrumbs */
.breadcrumbs ul {
    display: flex;
    gap: 10px;
    font-size: 14px;
}

.breadcrumbs ul li {
    color: #353535;
    transition: color 0.3s ease;
}

.breadcrumbs ul li:hover {
    color: #039999;
}

.breadcrumbs ul li:last-child {
    color: #757575;
}

/* Shop */
.shop__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.shop__sidebar {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .shop__wrapper {
        flex-direction: row;
    }

    .shop__sidebar {
        width: 25%;
    }

    .shop__content-3cards {
        width: 75%;
    }

    .shop__content-4cards {
        width: 100%;
    }
}

/* Count of cards in a row */
.product-card__shop {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;  
}
   
@media screen and (min-width: 768px) {
    .product-card__shop {
        max-width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1024px) {
    .product-card__shop {
        max-width: calc((100% - 24px * 2) / 3);
    }
}

/* before-shop-container */
.before-shop-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    color: #757575;
    margin: 15px 0;
}

.before-shop-container form select {
    font-size: 14px;
    letter-spacing: 0;
    width: 100%;
    max-width: 300px;
    border: 1px solid #c5c5c5;
    padding: 5px;
}

.before-shop-container form select:focus {
    box-shadow: 2px 2px 4px rgba(3, 153, 153, 0.2);
    border-color: rgb(3, 153, 153);
}

/* Pagination */
.roxydev-shop-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.woocommerce-pagination ul.page-numbers {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.woocommerce-pagination li .page-numbers {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: var(--accent-color);
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
}

.woocommerce-pagination span.page-numbers {
    z-index: 3;
    color: #fff;
    background-color: #039999;
    border-color: #039999;
}

.woocommerce-pagination a.page-numbers:hover {
    z-index: 2;
    color: #039999;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

@media screen and (min-width: 768px) {
    .roxydev-shop-pagination {
        margin-top: 40px;
    }
}

@media screen and (min-width: 1440px) {
    .roxydev-shop-pagination {
        margin-top: 60px;
    }
}

/* Filter in the sidebar */
.wpc-filter-chips-list a, body .wpc-filter-chips-list li.wpc-filter-chip a {
    border-radius: 0 !important;
}

.wpc-filters-range-wrapper input[type=number] {
    border: 1px solid #c5c5c5;
    padding: 5px;
}

.wpc-filters-range-wrapper input[type=number]:focus {
    box-shadow: 2px 2px 4px rgba(3, 153, 153, 0.2);
    border-color: rgb(3, 153, 153);
}

.wpc-checkbox-item .children {
    font-size: 14px;
}
